/*Author: Ella Daniels*/

:root {
  -webkit-text-size-adjust: none;
          text-size-adjust: none;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


.pgwrapper {
  margin: 0 auto; 
  display: flow-root;
  flex: 1;
  box-sizing: border-box;
  
}


header {
  position: fixed;
  z-index: 3; 
  top: 0;
  left: 0;
  width: 100%; 
  padding: 1%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(235, 246, 237, 0.7);
  backdrop-filter: blur(5px);
}

h1 {
  font: 800 40px/1.5 "Shrikhand", "sans-serif";
  color: rgb(25, 78, 56); 
  margin: 0 auto; 
  z-index: 10;
}




@keyframes colorcycle {
0% { color: rgb(25, 78, 56)}
25% {color: rgb(82, 131, 113)}
50% {color: rgb(11, 246, 179)}
75% {color: rgb(82, 131, 113)}
100% {color: rgb(25, 78, 56)}
}

h1 a:hover {
  animation-name: colorcycle;
  animation-duration: 5s; 
  animation-iteration-count: infinite;
}
/* =Link States
============================================= */ 
a { 
    text-decoration: none;
    color: rgb(103, 189, 158);
    transition: background-color 0.25s ease-in-out;
}

a:link,
a:visited {
color: inherit;
}

a:hover {
    color: rgb(29, 223, 168);
    transition: 0.7s;
}

a:active {
  color: rgba(231, 250, 245, 0.7);
  transition: 0.7s;
}



/* ============= CURSOR  ============= */

a{
cursor:url("../Image/x_images/cursor.png"), auto; 
}


/* ============= CONTENT ============= */


  .section-1 {
    display: flex; 
    justify-content: center;
    margin: 20px auto;  
  }

  .img-wrapper-1 {
    box-sizing: border-box;
    flex: 0 0 100%;  
    margin: 0 auto;
    position: relative;
  }

  .img-wrapper-1 img {
    width: 100%;
  } 

  .section-2 {
    display: flex; 
    flex-wrap: wrap;
    margin: 0 auto; 
    justify-content: center;
  }

  .img-wrapper-2 {
    box-sizing: border-box;
    flex: 0 0 50%;  
    margin: 0 auto; 
  }

  .img-wrapper-2 img.left {
    width: 100%;
    padding: 10px 10px 10px 0;
  }

  .img-wrapper-2 img.right {
    width: 100%;
    padding: 10px 0 10px 10px;
  }

  .section-3 {
    display: flex; 
    flex-wrap: wrap;
    margin: 0 auto; 
    justify-content: center;
  }

  .img-wrapper-3 {
    box-sizing: border-box;
    flex: 0 0 33.3333%;  
    margin: 0 auto; 
  }

  .img-wrapper-3 img {
    width: 100%;
    padding: 5px;
  }

  .section-4 {
    display: flex; 
    flex-wrap: wrap;
    margin: 0 auto; 
    justify-content: center;
  }

  .img-wrapper-4 {
    box-sizing: border-box;
    width: 100%;
    flex: 0 0 25%;  
    margin: 0 auto; 
  }

  .img-wrapper-4 img {
    width: 104%;
    padding: 10px;
  }

  .img-wrapper-4 img.left {
    width: 100%;
    padding: 10px 10px 10px 0;
  }

  .img-wrapper-4 img.right {
    width: 100%;
    padding: 10px 0 10px 10px;
  }

.background-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  margin: -1%;
 
}

.background-img img {
  width: 100%;
}

video {
  width: 100%;
  margin: 0 auto;
}

  
/* ============= TEXT ============= */

.desc {
  display: flex;
  width: 100%;
  position: relative;
}

.text-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.pgwrapper p {
    flex: 0 0 100%;
    width: 100%;
    max-width: 700px;
    color: rgb(139, 139, 139); 
    font: 300 16px/1.5 "Kanit", sans-serif;
    
}

.main-title {
    color: rgb(25, 78, 56); 
    font: 700 25px/1.5 "Kanit", sans-serif;
    margin: -20px 0 0 0;
} 
  
  .main-title:hover {
    animation-name: colorcycle;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
  }

.titles {
    color: rgb(103, 189, 158); 
    font: 700 16px/1.5 "Kanit", sans-serif;
    list-style-type: none;
    padding: 0;
}

.italic {
  font-style: italic;
}

.text-wrapper-subheading {
  flex: 0 0 100%;
  width: 100%;
  max-width: 700px;
  color: rgb(103, 189, 158);
  font: 400 16px/1.5 "Kanit", sans-serif;

}


.buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px auto;  
}

.button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 20px;
    background-color: rgb(25, 78, 56); 
    border-radius: 50px;
    max-width: 200px;
    margin: 0;
}

.button a {
  display: inline-block;
  color: rgb(255, 255, 255);
  font: 300 16px/1.5 "Kanit", sans-serif;
  min-width: 140px;

}

.button:hover {
  background-color: rgb(103, 189, 158); 
  transition: 0.5s ease-in-out;
}
/* ============= ADOBE ICONS ============= */

.adobe {
    display: flex;
    width: 100%;
    max-width: 300px;
}

.adobe ul {
  padding: 0;
}

.adobe li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    flex: 0 0 100%;
}

.adobe li img {
  height: 35px;
}

/* ============= FOOTER ============= */

footer {
  text-align: center;
  background-color: rgba(235, 246, 237, 0.7);
  padding: 1.7%;
  margin: 0 auto;
  width: 100%;
  bottom: 0;
}


footer p {
  color:rgb(103, 189, 158);
  font: 300 16px/1.5 "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
} 


* {
  box-sizing: border-box;
}




.koko5 {
  width: 100%;
}
.artbash7 {
  max-width: 750px;
}

/* ============= CURSOR SPARKLE ============= */
.mint-sparkle {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(var(--scale, 1));
  border-radius: 50%;
  opacity: 0.75;
  animation: mint-twinkle 1.6s ease-out forwards;
  z-index: 9999;
  mix-blend-mode: screen;
  filter: blur(1.5px) brightness(1.15);
}

@keyframes mint-twinkle {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.6;
    filter: blur(0.8px) brightness(1);
  }
  30% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0.9;
    filter: blur(1.3px) brightness(1.3);
  }
  70% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
    filter: blur(2px) brightness(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
    filter: blur(3px) brightness(0.9);
  }
}


/* ============= SCROLL ANIMATION ============= */
section {
  opacity: 0;
  transition: all 0.8s ease-out;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}